# Python 캐시
__pycache__/
*.pyc
*.pyo

# USD 캐시
.thumbs/
*.usd.autosave

# Isaac Sim 빌드
_build/
_compiler/

# ROS2 빌드
build/
install/
log/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Json 테스트 파일
src/cobot3/cobot_core/test_commands/*.json


# Backup 파일
# Backup files / folders
.backup_*/
*.bak
*.backup
*~
*.orig
*.rej